* {
  box-sizing: border-box;
}

.my-table,
.my-table th,
.my-table td {
  border: 1px solid rgb(0, 0, 0); /* Apply border to the table and all cells */
}

.my-table {
  border-collapse: collapse; /* Collapses borders into a single line */
  width: 100%;
}

.my-table th,
.my-table td {
  padding: 10px; /* Add some padding for better readability */
  text-align: center;
}
.my-user {
  text-decoration: none;
  font-family: sans-serif;
  color: brown;
}
#userDetailDiv {
  border: 1px solid rgb(11, 94, 210);
  width: 400px;
  display: flex, inline;
  flex-direction: column;
  padding: 5px;
  align-items: left;
  margin-top: 5px;
  border-radius: 5px;
  height: fit-content;
}

.user-info {
  background-color: beige;
  border-radius: 5px;
  border: 2px solid rgb(94, 145, 204);
  padding: 3px;
  width: max-content;
}
.userDetail {
  display: flex;
}

.userpost-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  padding: 2px;
  border: 1px solid darkkhaki;
  border-radius: 5px;
  width: 100%;
}
.user-postTitle {
  background-color: rgb(230, 237, 168);
  width: fit-content;
  padding-inline: 4px;
  border-radius: 2px;
}
.userposts {
  background-color: rgb(162, 231, 246);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 90%;
  padding: 5px;
}

.userThumb {
  width: 25px;
  height: 25px;
  background-color: #68d9cc;
  border-radius: 50%;
}
#commentButton {
  border: 1px solid black;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
  background-color: antiquewhite;
  cursor: pointer;
}
.commenterDiv {
  background-color: rgb(249, 249, 244);
  margin: 10px;
  border-radius: 10px;
}
#commenterInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.linkDecorate {
  text-decoration: none;
}
